
<app-contacts></app-contacts>
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-5 col-sm-12 my-4 d-flex flex-column justify-content-center">
            <h1 class="py-md-4 py-sm-2 ">We want to <strong>GET IN TOUCH</strong> with you.</h1>
            <p class="py-2 ">Fill in our form and we will be pleased to answer your questions.</p>
            <p class="py-2 ">You can check <a routerLink="/how-it-works">How It Works </a> page to find out how to receive the best experience using our web-site. </p>
        </div>
        <div class="col-md-7 col-sm-12 my-md-4 my-sm-1">
            <form [formGroup]="sendingEmailForm" (ngSubmit)="sendData();">
                <div class="form-group row">
                    <label for="fullName" class="form-label" >FULL NAME</label>
                    <div class="col-sm-12">
                        <input class="form-control form-control-lg" type="text"  id="fullName" formControlName="fullNameControl" />
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('fullNameControl')?.touched && sendingEmailForm.get('fullNameControl')?.hasError('required')" >
                        This field is required. Please, enter your name!
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('fullNameControl')?.touched && sendingEmailForm.get('fullNameControl')?.hasError('minlength')" >
                        Name should contains at least 3 symbols
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="form-label" >EMAIL</label>
                    <div class="col-sm-12">
                        <input class="form-control form-control-lg" type="email"  id="email" formControlName="emailControl" />
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('emailControl')?.touched && sendingEmailForm.get('emailControl')?.hasError('required')" >
                        This field is required. Please, enter an email!
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('emailControl')?.touched && sendingEmailForm.get('emailControl')?.hasError('email')" >
                        Please enter a valid email!
                    </div>
                </div>
                <div class="form-group row">
                    <label for="msgSubject" class="form-label" >SUBJECT</label>
                    <div class="col-sm-12">
                        <input class="form-control form-control-lg" type="text"  id="msgSubject" formControlName="subjectControl" />
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('subjectControl')?.touched && sendingEmailForm.get('subjectControl')?.hasError('required')" >
                        This field is required. Please, enter subject of your message (at least 5 symbols)!
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('subjectControl')?.touched && sendingEmailForm.get('subjectControl')?.hasError('minlength')" >
                        Subject of your message should contains at least 5 symbols
                    </div>
                </div>
                <div class="form-group row">
                    <label for="message" class="form-label" >MESSAGE</label>
                    <div class="col-sm-12">
                        <textarea rows="5" class="form-control form-control-lg" type="text"  id="message" formControlName="messageControl"></textarea>
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('messageControl')?.touched && sendingEmailForm.get('messageControl')?.hasError('required')" >
                        This field is required. Please, enter subject of your message (at least 20 symbols)
                    </div>
                    <div class="invalidF" *ngIf="sendingEmailForm.get('messageControl')?.touched && sendingEmailForm.get('messageControl')?.hasError('minlength')" >
                        Your message should contains at least 20 symbols
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary my-2" [disabled]="!sendingEmailForm.valid">SEND MESSAGE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>