<div class="mentorship-request__item">
  <div class="mentorship-request__inner" *ngIf="mentee">
    <div class="mentorship-request__avatar">
      <div class="user-avatar">
        <div class="user-avatar__border">
          <img class="avatar" src="{{mentee.avatar}}" alt="Avatar">
        </div>
      </div>
    </div>
    <div class="mentorship-request__user-name">{{mentee.name}} {{mentee.secondName}}</div>
    <button class="mentorship-request__ignore mentorship-request__btn" (click)='approveIgnore(mentee.id, false)'>IGNORE</button>
    <button class="mentorship-request__accept mentorship-request__btn" (click)='approveIgnore(mentee.id, true)'>ACCEPT</button>
  </div>
  <hr>
</div>
