<div class="mesgs">
	<div class="msg_history">
		<div>{{recivid}}</div>
		<div *ngFor="let user of globalMessage">
			<div class="incoming_msg" *ngIf="sendid != user.senderId">
			<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
			<div class="received_msg">
				<div class="received_withd_msg">
				<p>{{user.message}}</p>
					<span class="time_date"> {{user.timestamp | date:"MM/dd/yy"}}</span>
				</div>
			</div>
		</div>
		
		<div class="outgoing_msg" *ngIf="sendid == user.senderId">
			<div class="sent_msg">
				<p>{{user.message}}</p>
				<span class="time_date"> {{user.timestamp | date:"MM/dd/yy"}}</span>
			</div>
		</div>
</div>
		
	</div>
	<div class="write-message__box" >
		<label for="" class="write-message__label">
			<input (click)="closeNotification()" (input)="closeNotification()" [(ngModel)] = "chatMessage" class="write-message__input" type="text" placeholder="Write your message">
			<button type="submit" class="write-message__btn" (click)="sendChatMessage()" (keyup.enter)="sendChatMessage()">Send</button>
		</label>
	</div>
</div>