
<div class="container">
    <div class="row_search">
        <div class="search-users">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"  placeholder=" Start searching for a user " >
          <i class="fa fa-search"></i>
        </div>
   
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Appoint</th> 
            <th scope="col">Ban user</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of users | filter:searchText">
            <tr>
            <td> {{item.id}} </td>
            <td> {{item.role}} </td>
            <td> {{item.email}} </td>
            <td> {{item.first_name}} </td>
            <td> {{item.last_name}} </td>
            <td><button type="button" class="btn btn-outline-dark btn-sm *ngIf" (click)='getNewModerator()'>Moderator</button></td>
            <td> <button mat-stroked-button (click)='bunUsers(item.id, item.first_name, item.last_name)'>Ban</button></td>         
          </tr>
          <tr>    
        </tbody>
      </table>
     </div>
      <!-- <mat-paginator [length]="users.length"
      [pageSize]="14"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
     </mat-paginator> -->
<router-outlet></router-outlet>
 </div>
</div>

  





