<div class="container">
    <div class="upperPart container-fluid">
        <h1>MENTOR4YOU CAN HELP YOU</h1>
        <div class="row d-flex justify-content-around">
            <div class="col-sm-6">
                <div class="card">
                    <img src="../../../assets/images/professionals.png" class="card-img-top" alt="mentor">
                    <div class="card-body">
                      <h5 class="card-title text-center">Become Mentor</h5>
                      <p class="card-text text-center">Do you want to share your knowledge? With Mentor4you  you will find mentees fast.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <img src="../../../assets/images/college_grads.png" class="card-img-top" alt="mentor">
                    <div class="card-body">
                      <h5 class="card-title text-center">Find Mentor</h5>
                      <p class="card-text text-center">Do you want to study new subject or go deeper in current sphere? Mentor4you provide you with the list of professional mentors so you choose perfect one. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middlePart container-fluid">
        <h2>How does it work?</h2>
        <div class="row threeColumnsStep">
            <div class="col-md-2 numberOfStep" >1</div>
            <div class="col-md-6 d-flex flex-column justify-content-center contentOfStep">
                <h3><span>1.</span> Register to receive full access to web-site functionality.</h3>
                <p>Log up to Mentor4you filling in our short registration form, so you can look through full profile of choosing mentor, to receive possibility to apply for mentorship and write him. </p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/register.PNG" class="img-fluid img-thumbnail" alt="registration">
            </div>
        </div>

        <div class="row secondStep">
            <div class="col-md-10 d-flex flex-column justify-content-center">
                <h3><span>2.</span> Choose experienced mentor using filters in different categories.</h3>
                <p>We create for you possibility to find mentor who lives near you or maybe you want to work  with him online. If you want to study with friends, you can easily find mentor who ready to work with a group of people. Our filters were made to make choice process as easy as possible.</p>
                <img src="../../../assets/images/search.png" class="img-fluid img-thumbnail" alt="mentors">
            </div>
            <div class="col-md-2 numberOfStep">2</div>
        </div>

        <div class="row threeColumnsStep">
            <div class="col-md-2 numberOfStep" >3</div>
            <div class="col-md-6 d-flex flex-column justify-content-center contentOfStep">
                <h3><span>3.</span> Get acquainted with mentor’s profile: experience, teaching methods, student’s feedbacks.</h3>
                <p>In full mentor’s profile you can find all information to make thoughtful decision about if one of mentors fits your requirements. You can check one’s certificates, languages he/she can speak, whether he/she ready to work with group, remotely or offline.</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/mentor_profile.PNG" class="img-fluid img-thumbnail" alt="mentor-profile">
            </div>
        </div>

        <div class="row threeColumnsStep">
            <div class="col-md-4 hiddenInEnd">
                <img src="../../../assets/images/button.PNG" class="img-fluid img-thumbnail" alt="mentor-profile">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center contentOfStep">
                <h3><span>4.</span> If you chose your mentor, press button “Message” to send him/her your first message</h3>
            </div>
            <div class="col-md-4 hiddenAtBeginning">
                <img src="../../../assets/images/button.PNG" class="img-fluid img-thumbnail" alt="mentor-profile">
            </div>
            <div class="col-md-2 numberOfStep" >4</div>
        </div>

        <div class="row threeColumnsStep fifthStep">
            <div class="col-lg-2 col-md-2 numberOfStep" >5</div>
            <div class="col-lg-6 col-md-10 d-flex flex-column justify-content-center contentOfStep">
                <h3><span>5.</span> Negotiate with mentor about place of lessons, time and price</h3>
                <p>Some of mentors have flexible schedule, anothers can work only in spesific days and time. All there details you can arrange via messaging. </p>
            </div>
            <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                
                <img src="../../../assets/images/location.jpg" class="img-fluid" alt="location">
                <img src="../../../assets/images/dollar.png" class="img-fluid" alt="price">
            </div>
        </div>

        <div class="row threeColumnsStep">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="../../../assets/images/star.svg"  alt="star">
                <img src="../../../assets/images/star.svg" alt="star">
                <img src="../../../assets/images/star.svg"  alt="star">
                <img src="../../../assets/images/star.svg" alt="star">
                <img src="../../../assets/images/star.svg"  alt="star">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center contentOfStep">
                <h3><span>6.</span> Study and estimate the work of your mentor.</h3>
                <p>After you start to work with mentor you can write him/her feedback and set your raiting. Doing this you can help another users to find suitable mentor. </p>
            </div>
            <div class="col-md-2 numberOfStep" >6</div>
        </div>

        <div class="row blockWithBtn">
            <div class="col-sm-6">
                <button class="button" (click)="goTo('mentor')">Find your Mentor </button>
            </div>
            <div class="col-sm-6">
                <button class="button btnMentor" (click)="goTo('account')">Become Mentor </button>
            </div>           
        </div>
    </div>
</div>



