<div class="content">
  <form class="mentor" (ngSubmit)="onSubmit()" [formGroup]="mentorForm">
    <fieldset class="mentor__form-group">
      <div class="mentor__form-field">
        <span class="mentor__label">
          <span class="mentor__label">First Name </span><span class="star"> *</span>
        </span>

        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('firstName')"
            id="firstName"
            type="text"
            class="mentor__control"
            formControlName="firstName"
          />
          <p class="invalid-text" *ngIf="invalidCheck('firstName')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Last Name</span>

        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('lastName')"
            id="lastName"
            type="text"
            class="mentor__control"
            formControlName="lastName"
          />
          <p class="invalid-text" *ngIf="invalidCheck('lastName')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">
          {{ "ACCOUNT.MENTOR.ABOUT" | translate }} <span class="star">*</span>
        </span>

        <div class="mentor__control-wrapper">
          <textarea
            [ngClass]="invalidCheck('description')"
            id="description"
            rows="5"
            class="mentor__control"
            formControlName="description"
          >
          </textarea>
          <p class="invalid-text" *ngIf="invalidCheck('description')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach mb-4">
          {{ "ACCOUNT.MENTOR.TEACH" | translate }} <span class="star">*</span>
        </span>

        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [required]="true" [formControl]="categoriesForm" multiple>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mentor__form-field rate-field">
        <div class="mentor__rate-wrapper">
          <div>
            <span class="mentor__label">Rate <span class="star">*</span>
            </span>
            <div class="mentor__control-wrapper">
              <input
                [ngClass]="invalidCheck('rate')"
                id="rate"
                type="text"
                class="mentor__control mentor__rate-input"
                [value]="rate"
                formControlName="rate"
              />
              <p class="invalid-text" *ngIf="invalidCheck('rate')">Please input numbers only</p>
            </div>
          </div>

          <div class="mentor__currency">
            <span class="mentor__label">Currency <span class="star">*</span>
            </span>
            <mat-form-field>
              <mat-select [required]="true" [formControl]="carrencyForm">
                <mat-option *ngFor="let item of currency" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Email <span class="star">*</span></span>
        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('email')"
            id="email"
            type="email"
            formControlName="email"
            class="mentor__control"
          />
          <p class="invalid-text" *ngIf="invalidCheck('email')">
            Please provide a valid email address
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">
          {{ "ACCOUNT.MENTEE.PHONE" | translate }} <span class="star">*</span>
        </span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="phoneNumFirst"
            class="mentor__control"
            [ngClass]="invalidCheck('phoneNumFirst')"
          />
          <p class="invalid-text" *ngIf="invalidCheck('phoneNumFirst')">
            Input numbers only
          </p>
        </div>
      </div>

        <div class="mentor__form-field rate-field">
        <span class="mentor__label">Telegram</span>
        
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="telegram"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Skype</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="skype"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">LinkedIn</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="linkedIn"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">GitHub</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="gitHub"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mb-4">{{ "ACCOUNT.MENTOR.CER" | translate }}</span>
        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [formControl]="certificatesForm" multiple>
              <mat-option *ngFor="let certificate of certificates" [value]="certificate">
                {{ certificate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">{{ "ACCOUNT.MENTOR.WORK" | translate }} <span class="star">*</span></span>
        <div class="mentor__control-wrapper" [ngClass]="checkBox('personal', 'group')">
          <mat-checkbox formControlName="personal">Personal</mat-checkbox>
          <mat-checkbox formControlName="group">Group</mat-checkbox>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach mb-4">
          {{ "ACCOUNT.MENTOR.LANG" | translate }} <span class="star">*</span>
        </span>

        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [required]="true" [formControl]="languagesForm" multiple>
              <mat-option *ngFor="let language of languages" [value]="language">
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">{{ "ACCOUNT.MENTOR.WORK1" | translate }}</span>
        <div class="mentor__control-wrapper" [ngClass]="checkBox('online', 'offlineOut')">
          <mat-checkbox formControlName="online">Remotely</mat-checkbox>
          <mat-checkbox formControlName="offlineOut">Offline</mat-checkbox>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach mb-4">{{ "ACCOUNT.MENTOR.LOCATION" | translate }}</span>
        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [formControl]="citiesForm" multiple>
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <button type="submit" class="mentor__btn">{{ "ACCOUNT.MENTEE.SAVE" | translate }}</button>
      <button class="mentor__btn" (click)="onShowProfile($event)">{{ "ACCOUNT.MENTOR.VIEWM" | translate }}</button>
    </fieldset>
  </form>

</div>
