<div class="container"> 
    <div class="table-responsive">
    <table class="table table-hover">

        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Unban user</th>
          </tr>
        </thead>
        
        <tbody *ngFor="let name of banUsers">
            <tr>
            <td> {{name.id}} </td>
            <td> {{name.role}} </td>
            <td> {{name.email}} </td>
            <td> {{name.first_name}} </td>
            <td> {{name.last_name}} </td> 
            <!-- <td> {{item.ban}} </td>   -->
            <!-- <td><button type="button" class="btn btn-outline-dark btn-sm *ngIf" (click)=unBunUsers(name.id)>Unban</button></td> -->
            <td> <button mat-stroked-button (click)='unBunUsers(name.id, name.first_name, name.last_name)'>Unban</button></td>
            <!-- <div class="form-check form-switch" >
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)=bunUsers(item.id)>
                <label class="form-check-label" for="flexSwitchCheckChecked">Activate/Deactivate</label>
              </div> -->
            
            
          
          <tr>
           
        </tbody>
     
      </table>
      </div>  
 </div>


  





