<footer>
    <div class="container">
        <div class="mainText">
            <a routerLink="/" class="projectName">
                <img class="logo" src="./../../../../assets/images/logo_for_footer.png" alt="Logo">
            </a>
            <div class="footerLinks">
                <p><a routerLink="/terms">Terms & Conditions</a></p>
                <p><a routerLink="/contacts">Contact us</a></p>
            </div>
        </div>
        <div class="textBottom">© <span>{{ getYear() }}</span> Mentor4you All Rights Reserved </div>
    </div>
</footer>