@import "variables";


.moderator-main-container {
    width: 100%;
    padding: 30px 5px;
    display: flex;
    box-sizing: border-box;

    app-moderator-navigation {
        width: 30%;
        box-sizing: border-box;
        padding-left: 10px;
    }    
}



