<div class="moderator-main-info-container">
    <div class="moderator-logo-container">
        <div class="moderator-info">
            <div class="moderator-name">
                <h2>Moderator</h2>
                <p>{{moderator.lastName}} {{moderator.firstName}}</p>
            </div>
            <div class="moderator-icon-container">
                <div class="moderator-icon">
                    <img src="{{moderator.avatar}}" alt="">
                </div> 
            </div>        
        </div>
    </div>
    <div class="moderator-navbar-container">
        <ul>
            <li>
                <a 
                    routerLink="/moderator/users" 
                    routerLinkActive="active">
                    Users
                </a>
            </li>            
            <li>
                <a 
                    routerLink="/moderator/black-list" 
                    routerLinkActive="active">
                    Black List
                </a>
            </li>
            <li>
                <a 
                    routerLink="/moderator/edit" 
                    routerLinkActive="active">
                    Edit Profile
                </a>
            </li>
            <li>
                <a 
                    (click)="onLogOut()">
                    Log out
                </a>
            </li>                
        </ul>
    </div>
</div>

