<app-introduction></app-introduction>

<div class="mentor-list">
  <div class="container">
    <h2 class="mentor-list__title">{{ 'HOME.TEXT.MENTORS' | translate }}</h2>

    <div class="rows" *ngIf="mentors; else spinner">
      <app-mentor-card *ngFor="let mentor of mentors | slice : 0 : 8" [mentor]="mentor"></app-mentor-card>
    </div>

    <ng-template #spinner>
      <mat-spinner></mat-spinner>
    </ng-template>

    <a class="mentor-list__btn" (click)="goTo('mentor')">{{ 'HOME.BUTTON.FINDMENTOR' | translate }}</a>
  </div>
</div>

<app-carousel></app-carousel>

<app-invitation></app-invitation>
