@import "variables";
@import "reset";

.container{
    background-color: white;
    .card{
        margin: 0;
        border: 1px solid #c4c4c4;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
        *{
            padding: 5px;
            font-family: 'Roboto', sans-serif;
            h5{
                color: $darkblue;
                font-size: 25px;
                padding-bottom: 0;
            }
            form{
                input{
                    border-radius: 5px;
                    
                }
                input:focus {
                    box-shadow: 0 0 0 0.2rem rgba(163, 163, 163, .25);
                }
                button {
                    background-color: $darkblue;
                    border-radius: 15px;
                    font-size: 16px;
                    width: 160px;
                    height: 50px;
                    color: white;
                    @include btn-shadow;
                }
                button:hover {
                    box-shadow: 0 0 15px $darkblue;
                }
                button:disabled:hover{
                    @include btn-shadow;
                }
                .infoLine {
                    font-size: 18px;
                    color: $fuschia100;
                    padding: 5px;
                    font-weight: 700;
                }
            }
        }
        
    }
}