.table-responsive {
    
    padding: 0 58px 0 550px;
    margin-top: 55px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }
  .mat-raised-button {
     margin-left: 225px;
  }
  .mat-input-element {
    caret-color: #2f8a2c !important;
}
.category{
    padding-left: 50px;
}
.table_categories{
    margin-top: 40px;
    padding: 0 350px 0 500px;
}
