<div *ngIf="mentor" class="mentor-card" (click)="goTo('mentor-details')">
  <div class="mentor-card__info">
    <div class="mentor-card__image-wrap">
      <img class="mentor-card__image" src="{{mentor.avatar}}" alt="{{mentor.fullName}}">
    </div>
    <p class="mentor-card__name">{{mentor.fullName}} {{mentor.id}}</p>
    <p class="mentor-card__category">
      <span *ngFor="let category of mentor.categories last as isLast">
        {{category}}<span *ngIf="!isLast">, </span>
      </span>
    </p>
    <p class="mentor-card__rating">
      <span class="material-icons-outlined" *ngFor="let star of stars">grade</span>
    </p>
  </div>

  <div class="mentor-card__btns btns">
    <button class="btns__ask" *ngIf="signinService.isMentee" (click)="sendRequest(mentor.id)">Ask for a mentorship project</button>
    <button class="btns__view" (click)="goTo('mentor-details')">View more</button>
  </div>
</div>