<div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
    <mat-card class="reviews_card">      
            <mat-card-header>
                <div mat-card-avatar class="mente1_avatar" ></div>
                <mat-card-title>Dmytro Vasiv</mat-card-title>           
                <mat-card-subtitle>
                  <span class="material-icons">
                    star_rate star_rate 
                    </span>
                </mat-card-subtitle> 
            </mat-card-header>
        <mat-card-content>
          <p>
            Amazing experience with Mentor4you services... Words can’t describe how
            helpful were Mentor staff members. Always there when facing challenges.
            Highly recommend Mentor after this experience.
          </p>
          <div class="reply_new" *ngFor='let item of replyArr'>
             
              <img src ="assets/images/face.png"> 
              <div class="Head">
              <div class="text">Ivan Ivanov</div>
             
              <span class="material-icons">
                star_rate star_rate star_rate 
              </span>
            </div>
              <div>
                <br>
                <hr>
                <p> {{item}} </p>
              </div>
              
          </div>
        </mat-card-content>
         <mat-card-actions> 
          <button type="button" class="btn btn-outline-dark btn-sm" id="rep" *ngIf="!flag" (click)=btnClick()>Reply</button>
          <div class="reply" *ngIf="this.flag" >
            <div class="form-group">
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]='reply'></textarea>
            </div>
            <div class="buttons">
              <button type="button" class="btn btn-outline-dark btn-sm" (click)="sendReply()" id='btn' matTooltip="">Send</button>
    
                  </div>
            </div>
            <button *ngIf='!flag' id='btn-del' type="button" class="btn btn-outline-dark btn-sm"  matTooltip="Delete">
              <span  class="material-icons" (click)=delReply()>delete</span>
              </button>
           
        </mat-card-actions> 
        <mat-card-footer>
             <span class="text-muted">August 10,2021 12:10 PM</span> 
        </mat-card-footer>
      <!-- </mat-card>
      <mat-card class="reviews_card">      
        <mat-card-header>
            <div mat-card-avatar class="mentee_avatar" ></div>
            <mat-card-title>Illya Stepanuk</mat-card-title>           
            <mat-card-subtitle>
              <span class="material-icons">
                star_ratestar_ratestar_rate
                </span>
            </mat-card-subtitle> 
        </mat-card-header>
    <mat-card-content>
      <p>
        Successful outcome and valued support .. Mentor Education provided me with clear and concise materials and expectations. 
        The assessors provided great and encouraging feedback and support...
      </p>
    </mat-card-content>
     <mat-card-actions> 
      <button mat-raised-button>Reply</button>
      <button mat-flat-button matTooltip="Share">
        <span class="material-icons">share</span>
        </button> 
        <button mat-flat-button matTooltip="like">
            <span class="material-icons">
                favorite
            </span>
        </button> 
        <button mat-flat-button matTooltip="Edit">
            <span class="material-icons">edit</span>
            </button>
            <button mat-flat-button matTooltip="Delete">
                <span class="material-icons">delete</span>
                </button>
    </mat-card-actions> 
    <mat-card-footer>
         <span class="text-muted">August 1,2021 14:12 PM</span> 
    </mat-card-footer>
  </mat-card>
  <mat-card class="reviews_card">      
    <mat-card-header>
        <div mat-card-avatar class="mentee3_avatar" ></div>
        <mat-card-title>Yaroslav Krasavchuk</mat-card-title>           
        <mat-card-subtitle>
          <span class="material-icons">
            star_ratestar_ratestar_ratestar_rate
            </span>
        </mat-card-subtitle> 
    </mat-card-header>
<mat-card-content>
  <p>
    When I became an Mentor4you member, I was also enrolled at Full Sail University in Orlando, FL, 
    pursuing a Masters
     in Innovation & Entrepreneurship through their online platform.
  </p>
</mat-card-content>
 <mat-card-actions> 
  <button mat-raised-button>Reply</button>
  <button mat-flat-button matTooltip="Share">
    <span class="material-icons">share</span>
    </button> 
    <button mat-flat-button matTooltip="like">
        <span class="material-icons">
            favorite
        </span>
    </button> 
    <button mat-flat-button matTooltip="Edit">
        <span class="material-icons">edit</span>
        </button>
        <button mat-flat-button matTooltip="Delete">
            <span class="material-icons">delete</span>
            </button>
</mat-card-actions> 
<mat-card-footer>
     <span class="text-muted">June 29, 2021 14:50 PM</span> 
</mat-card-footer>
</mat-card>
<mat-card class="reviews_card">      
    <mat-card-header>
        <div mat-card-avatar class="mentee4_avatar" ></div>
        <mat-card-title>Oksana Dzybak</mat-card-title>           
        <mat-card-subtitle>
          <span class="material-icons">
            star_ratestar_ratestar_ratestar_ratestar_rate
            </span>
        </mat-card-subtitle> 
    </mat-card-header>
<mat-card-content>
  <p>
    Amazing experience with Mentor4you services... Words can’t describe how
    helpful were Mentor staff members. Always there when facing challenges.
    Highly recommend Mentor after this experience.
  </p>
</mat-card-content>
 <mat-card-actions> 
  <button mat-raised-button>Reply</button>
  <button mat-flat-button matTooltip="Share">
    <span class="material-icons">share</span>
    </button> 
    <button mat-flat-button matTooltip="like">
        <span class="material-icons">
            favorite
        </span>
    </button> 
    <button mat-flat-button matTooltip="Edit">
        <span class="material-icons">edit</span>
        </button>
        <button mat-flat-button matTooltip="Delete">
            <span class="material-icons">delete</span>
            </button>
</mat-card-actions> 
<mat-card-footer>
     <span class="text-muted">June 27, 2021 8:26 PM</span> 
</mat-card-footer>-->
</mat-card> 
</div>
<!-- <mat-paginator [length]="5" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page">
</mat-paginator> -->
</div> 
</div>    