<div class="container">
  <div class="row title wrapper">
    <p class="d-flex ms-5 col-2">{{"ACCOUNT.SETTINGS.TITLE" | translate }}</p>
    <!-- <span class="d-flex ms-5 col-4 changed hidden-success"
      ><p [hidden]="!isChangeTrue">Password changed successfully!</p></span
    >
    <span class="d-flex ms-5 col-4 inchanged hidden-danger"
      ><p [hidden]="!isChangeFalse">Current password is wrong!</p></span
    > -->
    <div class="row mainsection mx-4">
      <div class="col-2 me-3 aside">
        <ul>
          <li (click)="caseClick('role')">
            <span class="option" [ngClass]="case1()">
              <i class="fas fa-user"></i>
              <p>{{"ACCOUNT.SETTINGS.ROLE.ROLE" | translate }}</p>
            </span>
          </li>
          <li (click)="caseClick('password')">
            <span class="option" [ngClass]="case2()">
              <i class="fas fa-lock"></i>
              <p>{{"ACCOUNT.SETTINGS.PASS.PASS" | translate }}</p>
            </span>
          </li>
          <li (click)="caseClick('language')">
            <span class="option" [ngClass]="case3()">
              <i class="fas fa-globe"></i>
              <p>{{"ACCOUNT.SETTINGS.LANG.LANG" | translate }}</p>
            </span>
          </li>
          <li (click)="caseClick('delete')">
            <span class="delete" [ngClass]="case4()">
              <i class="fas fa-trash-alt"></i>
              <p>{{"ACCOUNT.SETTINGS.DELETE" | translate }}</p>
            </span>
          </li>
        </ul>
      </div>

      <div class="col-8 mss" [ngSwitch]="switchCase">
        <app-change-role *ngSwitchCase="1"></app-change-role>
        <app-change-password *ngSwitchCase="2"></app-change-password>
        <app-languages *ngSwitchCase="3"></app-languages>
        <app-delete-account *ngSwitchCase="4"></app-delete-account>
      </div>
    </div>
  </div>
</div>
