<div class="box_contact container">
    <h1>CONTACT US</h1>
    <div class="box_inside">
        <div class="boxes">
            <div class="inside">
                <div class="my_circle">
                    <h4><i class="fas fa-map-marker-alt"></i></h4>
                </div>
            </div>
            <h5>HEADQUARTERS</h5>
            <p>4/6 Slovatskyi str.<br>33000 Rivne, Ukraine</p>
        </div>
        <div class="boxes">
            <div class="inside">
                <div class="my_circle">
                    
                <h4><i class="fas fa-mobile-alt"></i></h4></div>
            </div>
            <h5>TELEPHONE</h5>
            <p>+380 362 634 663</p>
        </div>
        <div class="boxes">
            <div class="inside">
                <div class="my_circle">
                    <h4><i class="fas fa-envelope"></i></h4>
                </div>
            </div>
            <h5>EMAIL</h5>
            <p>contact@mentor4you.com</p>
        </div>
        
    </div>
</div>